* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}